<h2>Name: <%= account.displayName %></h2>
<p>Currency: <%= account.currency %></p>
<p>Time Stamp: <%= account.updatedTimestamp %></p>
<p>Type: <%= account.accountType %></p>
<p>Number: <%= account.accountNumber %></p>
<p>Available: <%= account.available %></p>
<p>Current: <%= account.current %></p>
<p>In the past seven days, the account <%= account.lastSeven.change %> by: <%= account.lastSeven.total %></p>

<button onClick="window.location='/accounts?accessToken=<%= accessToken %>'">
  Back to My Accounts
</button>
